{namespace best.namespace.ever.sub}

/**
 * Displays the share-links section of the bdp-hero
 *
 * @param? gotAQuestion
 * @param? pageDetails
 *
 * @client
 */

{template .aliasTemplate}
    template
{/template}
