{namespace hcom.templates.pages.cop.bookingDetails.bdpHero.accordions}
{alias hcom.templates.pages.cop.bookingDetails.bdpHero}

/**
 * Displays the share-links section of the bdp-hero
 *
 * @param? gotAQuestion
 * @param? pageDetails
 *
 * @client
 */

{template .gotAQuestionAccordion}
    {if $gotAQuestion?.phoneNumber and $pageDetails}
        // CCAT-3138 breaking change, use the case where the link is present
        {let $customerServiceLinkOpeningTag kind="html"}
            {if $gotAQuestion.customerServiceLink}
                <a href="{$gotAQuestion.customerServiceLink}" target="_blank" class="customer-service-link">
            {else}
                <span class="c-hds-neutral-1">
            {/if}
        {/let}

		{call hcom.templates.pages.cop.bookingDetails.bdpHero.accordions.valami /}
		{call .valami /}
		{call bdpHero.aliasTemplate /}
		{call hcom.templates.pages.cop.bookingDetails.bdpHero.someFileInaDirTemplate /}

        // CCAT-3138 breaking change, use the case where the link is present
        {let $customerServiceLinkClosingTag kind="html"}
            {if $gotAQuestion.customerServiceLink}
                </a>
            {else}
                </span>
            {/if}
        {/let}

        <div class="got-a-question collapsible-block bg-white bd-all bdra-big mb-mouse" data-block-id="gotAQuestion">
            <button class="cta-collapsible ta-l ph-med ph-base--xs pv-med" aria-controls="got-a-question-pane" aria-expanded="false">
                <span class="with-medium-icon icon-phone di-b fs-base">{i18n('booking.booking_details.share.got_a_question')}</span>
                <span class="collapse-indicator"></span>
            </button>
            <div class="collapsible-body mb-bird" id="got-a-question-pane" role="region">
                <ul class="mt-bee">
                    <li class="mb-mouse">
                        <p class="mb-bee">
                            {i18n('booking.booking_details.share.got_a_question.call_property_manager', '<strong class="c-hds-neutral-1 phone-number">', $gotAQuestion.phoneNumber, '</strong>')|noAutoescape}
                        </p>
                        <p>
                            {i18n('booking.booking_details.share.got_a_question.ha_reservation_id_needed', '<strong class="ha-conf-number">', $pageDetails.homeAwayConfirmationNumber, '</strong>')|noAutoescape}
                        </p>
                    </li>
                    <li>
                        {i18n('booking.booking_details.share.got_a_question.contact_customer_service', $customerServiceLinkOpeningTag, $customerServiceLinkClosingTag, '<strong class="hcom-conf-number">', $pageDetails.confirmationNumber, '</strong>')|noAutoescape}
                    </li>
                </ul>
            </div>
        </div>
    {/if}
{/template}
