{namespace best.namespace.ever.sub.subsub}
{alias best.namespace.ever.but.not.the.best}
{alias best.namespace.ever.sub}
{alias best.namespace.ever}

/**
 * Displays the share-links section of the bdp-hero
 *
 * @param? a
 * @param? b
 *
 * @client
 */

{template .gotAQuestionAccordion}
    {call best.namespace.ever.sub.subsub.valami /}
    {call ever.sub.subsub.valami /}
    {call .valami /}
    {call sub.aliasTemplate /}
    {call best.otherNameSpaceTemplate /}
{/template}
