{namespace hcom.templates.pages.cop.bookingDetails.bdpHero}

/**
 *
 * @param? a
 * @param? b
 *
 */

{template .someFileInaDirTemplate}
    something
{/template}


{template .someFileInaDirTemplateAGAIN}
    something
{/template}
