{namespace hcom.templates.pages.cop.bookingDetails.bdpHero}

/**
 * Displays the share-links section of the bdp-hero
 *
 * @param? gotAQuestion
 * @param? pageDetails
 *
 * @client
 */

{template .someFileInaDirTemplate}
    something
{/template}


{template .someFileInaDirTemplateAGAIN}
    something
{/template}
